.upload-view {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

.drop-area {
    border: 3px dashed var(--mid-grey);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 60px;
    color: var(--mid-grey);
    transition: .1s;
    flex: 1;
}

.drop-area.highlight {
    border-color: var(--primary-blue);
}

.btn {
    width: 250px;
}

.upload-info {
    text-align: center;
}

.file-explorer-label {
    color: var(--light-grey);
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.file-explorer-input {
    text-decoration: underline;
    font-size: 20px;
    color: var(--light-grey);
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.allowed-extensions {
    margin-top: 20px;
}

.extensions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.allowed-extensions h2 {
    display: inline;
}

.selected-files {
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.selected-file {
    padding: 10px 15px;
    background-color: var(--mid-grey);
    border-radius: var(--border-radius);
    color: white;
    display: flex;
    align-items: center;
    gap: 7px;
    width: max-content;
}

.selected-file > span {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.upload-button-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.upload-button-checkbox > .start-upload-button {
    width: 250px;
}