:root {
    --primary-blue: #78e8f4;
    --very-dark-grey: #222222;
    --dark-grey: #2E2E2E;
    --mid-grey: #424242;
    --light-grey: #757575;

    --border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: white;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
}

.App {
    padding: 40px;
    height: 100vh;
    background-color: var(--dark-grey);
}